:root {
  --black: #000;
  --titles-color: #212121;
  --accent-color: #2196f3;
  --text-color: #757575;
  --footerbackground: #2f303a;
  --white: #fff;
  --adress-transparency-color: rgba(255, 255, 255, 0.6);
}

/* Remove markers from lists */
ul {
  list-style: none;
}

/* Remove underline from urls */
a {
  text-decoration: none;
  font-style: normal;
}

/* Visually Hidden */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  background-color: var(--white-color);
  color: var(--text-color);
  margin: 0px;
}

/* header */

.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  color: var(--accent-color);
}

header .logo-fragment {
  color: var(--black);
}

.nav-link {
  font-weight: 500;
  line-height: 1.1;
  letter-spacing: 0.02em;
  color: var(--titles-color);
}

.nav-link:hover,
.nav-link:focus {
  color: var(--accent-color);
}

.active {
  color: var(--accent-color);
}

header .address-item {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  color: var(--text-color);
}

.address-item:hover,
.address-item:focus {
  color: var(--accent-color);
}

/* Centered */

/* Hero */

.hero {
  background-color: var(--footerbackground);
  color: var(--white);
  font-size: 44px;
  line-height: 1.4;
  letter-spacing: 0.06em;
  max-width: 1600px;
  padding-top: ;
  padding-bottom: ;
  text-align: center;
}

.hero-title {
  font-weight: 900px;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.hero button {
  background-color: var(--accent-color);
  color: var(--white);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
  border: none;
}

/* benefits sections */

.benefits-title {
  font-size: 14px;
  line-height: 1.1;
  text-transform: uppercase;
  color: var(--titles-color);
}

.section-title {
  font-size: 36px;
  line-height: 1.2;
  color: var(--titles-color);
}

/* Team */

.member {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  color: var(--titles-color);
}

.post {
  font-size: 16px;
  line-height: 1.2;
  color: var(--text-color);
}

/* portfolio */

.buttons {
  display: inline-block;
  border-radius: 4px;
  padding: 6px 22px;
  text-align: center;
  border: 1px solid transparent;
}

.list {
  font-size: 16px;
  line-height: 1.9;
}

.list-title {
  font-weight: 700;
  font-size: 18px;
  letter-spacing: 0.06em;
  line-height: 2;
  color: var(--titles-color);
}

/* footer */

footer {
  background-color: var(--footerbackground);
}

.map {
  color: var(--white);
}

footer .address-item {
  font-weight: 400;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--adress-transparency-color);
}

footer .logo-fragment {
  color: var(--white);
}
