:root {
  --black: #000;
  --titles-color: #212121;
  --accent-color: #2196f3;
  --text-color: #757575;
  --footerbackground: #2f303a;
  --white: #fff;
  --adress-transparency-color: rgba(255, 255, 255, 0.6);
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

/* Remove markers from lists */
ul {
  list-style: none;
}

/* Remove underline from urls */
a {
  text-decoration: none;
  font-style: normal;
}

/* Visually Hidden */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  background-color: var(--white-color);
  color: var(--text-color);
  margin: 0px;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  max-width: 1170px;
}

/* header */

.logo {
  display: block;
  margin-right: 93px;

  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  color: var(--accent-color);
}

header .logo-fragment {
  color: var(--black);
}

header .container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav {
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
}

.nav-item {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.nav-item:not(:last-child) {
  margin-right: 50px;
}

.nav .link {
  padding-top: 32px;
  padding-bottom: 32px;

  font-weight: 500;
  line-height: 1.1;
  letter-spacing: 0.02em;
  color: var(--titles-color);
}

.link:hover,
.link:focus {
  color: var(--accent-color);
}

.nav-item .current {
  color: var(--accent-color);
}

header .address-item {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  color: var(--text-color);
}

header .contacts {
  display: flex;
  margin-left: auto;
}

header .address-item:last-child {
  margin-left: 50px;
}

.address-item:hover,
.address-item:focus {
  color: var(--accent-color);
}

/* Hero */

.hero {
  background-color: var(--footerbackground);
  color: var(--white);
  font-size: 44px;
  line-height: 1.4;
  letter-spacing: 0.06em;
  /* max-width: 1600px; */
  text-align: center;
  padding-top: 199px;
  padding-bottom: 200px;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid #ececec;
}

.hero-title {
  font-weight: 900px;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.hero button {
  background-color: var(--accent-color);
  color: var(--white);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
  border: none;
  border-radius: 4px;
  padding: 10px 32px;
}

/* benefits sections */

.sections {
  margin-top: 94px;
}

.list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0 0;
}

.benefits-title {
  font-size: 14px;
  line-height: 1.1;
  text-transform: uppercase;
  color: var(--titles-color);
}

/* About */

.section-title {
  margin-top: 0;
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
  font-size: 36px;
  line-height: 1.2;
  color: var(--titles-color);
}

.about .list {
  margin-top: 50px;
  margin-bottom: 0;
}

/* Team */

.member {
  margin-top: 30px;
  margin-bottom: 10px;
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  color: var(--titles-color);
}

.post {
  margin-top: 10px;
  margin-bottom: 30px;
  text-align: center;
  font-size: 16px;
  line-height: 1.2;
  color: var(--text-color);
}

/* portfolio */

.buttons {
  display: inline-block;
  border-radius: 4px;
  padding: 6px 22px;
  text-align: center;
  border: 1px solid transparent;
}

.list {
  font-size: 16px;
  line-height: 1.9;
}

.list-title {
  font-weight: 700;
  font-size: 18px;
  letter-spacing: 0.06em;
  line-height: 2;
  color: var(--titles-color);
}

/* footer */

footer {
  /* display: flex; */
  /* align-items: baseline; */
  margin-top: 94px;
  margin-right: 1154;
  margin-left: 215;
  background-color: var(--footerbackground);
  padding-top: 60px;
  padding-bottom: 60px;
}

.map {
  display: inline-block;
  color: var(--white);
  margin-bottom: 9px;
}

footer .address-item {
  display: flex;
  flex-direction: column;

  font-weight: 400;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--adress-transparency-color);
}

.logo {
  display: block;
  margin-bottom: 20px;
}

footer .logo-fragment {
  color: var(--white);
}

footer .address-item:not(:last-child) {
  display: inherit;
  margin-bottom: 9px;
}
