:root {
  --black: #000;
  --titles-color: #212121;
  --accent-color: #2196f3;
  --text-color: #757575;
  --footerbackground: #2f303a;
  --white: #fff;
  --adress-transparency-color: rgba(255, 255, 255, 0.6);
}
